html,article,body {
	width: 100%;
	height: 100%;
	background-color: #aaa;
}


#links {
	text-align: center;
	margin-bottom: 50px;
}

#links a {
	width: 75%;

}

.btn-primary: {
	background-color: #d12323;
}

h1 {
	font-size: 42px;
	text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently not supported by any browser */
}


input[type='checkbox'] {
    width: 12px;
	height: 12px;
	padding-top: 2px;
}

label {
	display: inline-block;
	padding: 5px;
}


.container {
	height: 100%;
}

.labeltext {
	margin-top: 10px;
}

form {
	position: relative;
	/*margin: 40px auto;*/
}

.check {
	margin: 0;
	font-size: 14px;
	padding-left: 5px;
	font-weight: normal;
}


.loginOptions {
	text-align: center;
	margin-top: 20px;
	color: #fff;
}


.submission {
	margin-top: 50px;

}

.signedincheck {
	padding-top: 30px;
	text-align: center;
}

