{% extends 'base.html' %}

{% load static %}

{% block title %}Create Account | {{ block.super }}{% endblock %}

{% block content %}

	<div class="container">
		<div class="createheader">
			<h1 class="noselect">Create Account</h1>
		</div>
		<form>

			<!-- input fields -->
			<label class="labeltext">First Name</label>
			<input type='text' placeholder='Enter first name' name='fname' class='textfield' required>
			<label class="labeltext">Last Name</label>
			<input type='text' placeholder='Enter last name' name='lname' class='textfield' required>
			<label class="labeltext">Email</label>
			<input type='text' placeholder='Enter Email' name='email' class='textfield' required>
			<label class='labeltext'>Username</label>
			<input type='text' placeholder='Enter Username' name='user' class='textfield' required>
			<label class='labeltext'>Password</label>
			<input type=password placeholder='Enter Password' name='pass' class='textfield' required>

			<div class='loginOptions'>
				<input type='checkbox'><label class='check'>Keep me signed in</label>
				<button class='enabledButton' type='submit'>Sign in</button>
			</div>
		</form>
	</div>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

{% endblock %}