{% extends 'base.html' %}

{% load static %}

{% block title %}Forgot Password? | {{ block.super }}{% endblock %}

{% block content %}

	<div class="container">
		<div class="createheader">
			<h1 class="noselect">Forgot Password?</h1>
		</div>

		<form method="POST" id="forgotpassword_form" action="">

			{% csrf_token %}
			{{ form }}

			<div class='loginOptions'>
				<input id="send_email" type="submit" value="Send Email" class="enabledButton"/>
			</div>
		</form>
	</div>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

{% endblock %}
