{% extends 'base.html' %}

{% load static %}

{% block title %}Log In | {{ block.super }}{% endblock %}

{% block content %}
	<div class='container'>
		<div class='login'>
			<div class='loginheader'>
				<h1 class='noselect'>deanslist</h1>
			</div>
			<form>
					<label class='labeltext'>Username</label>
					<input type='text' placeholder='Enter Username' name='user' class='textfield' required>
					<label class='labeltext'>Password</label>
					<input type=password placeholder='Enter Password' name='pass' class='textfield' required>
					
					<div class='loginOptions'>
						<input type='checkbox'><label class='check'>Keep me signed in</label>
						<button class='enabledButton' type='submit'>Sign in</button>
					</div>
					<div class='account row'>
						<div class="col-md-6">
							<span class='create'><a href="{% url 'core.views.createacc' %}">Create an account</a></span>
						</div>
						<div class="col-md-6">		
							<span class='pass'><a href='#'>Forgot your password?</a></span>
						</div>
					</div>
			</form>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}
